.contact-title{
 font-size: 2rem;
 margin-bottom: 1rem;
}

.contact{
  padding: 2rem;
  background-color: #f9f9f9;
  text-align: center;
}

.contact form{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}

.contact label {
margin: 0.5rem;
font-weight: bold;
}

.contact input,
.contact textarea{
padding: 0.5rem;
margin-bottom: 1rem;
border: 1px solid;
border-radius: 5px;
}

/* .contact button{
  padding: 0.75rem;
  color: white;
  border: none;
  cursor: pointer;
  width: 150px;
  height: 200;
  
} */