

.projects {
  padding: 2rem;
  
}

.project-title {
  text-align: center;
  margin-bottom: 3rem;
  color: #333; 
}

.projec-slide {
  padding: 1rem;
  box-sizing: border-box;
  background: linear-gradient(to right, rgba(255, 126, 95, 0.7), rgba(254, 180, 123, 0.7));
  border-radius: 20px;
  border: solid 1px #ddd; 
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projec-slide:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.slick-slide {
  padding: 1rem;
}


.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
 
}

.slick-track {
  display: flex;
  align-items: center;
  
}

.slick-dots {
 
  left: 50%;
  transform: translateX(-50%);
}

.slick-dots li button {
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.slick-dots li.slick-active button {
  background-color: #0056b3; 
}

.slick-dots li button:hover {
  background-color: #bbb; 
}

.project-btn {
  display: inline-block;
  align-items: center;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #0056b3;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1.1rem;
  width: 6rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.project-btn:hover {
  background-color: #004099;
  transform: scale(1.05);
}

