.skills-title{
  font-size: 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
 }

 .skills-icons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 10%;
  margin-top: 10%;
 }

 .tech-icon{
  font-size: 5rem; 
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
 }


 /*colors to the icons*/
 .html-icon {
  color: #e34c26;
}

.css-icon {
  color: #1572b6;
}

.js-icon {
  color: #f7df1e;
}

.react-icon {
  color: #61dafb;
}

.node-icon {
  color: #339933;
}

.mongodb-icon {
  color: #47A248;
}

.express-icon {
  color: #000000;
}

.git-icon {
  color: #f05032;
}

.github-icon {
  color: #333;
}

.redux-icon {
  color: #764abc;
}

.typescript-icon {
  color: #3178c6;
}

.postgresql-icon {
  color: #336791;
}

.npm-icon {
  color: #cb3837;
}

.docker-icon {
  color: #2496ed;
}

.vue-icon{
  color: #42b883;
}


.tech-icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
}